<footer class="footer container-fluid bg-costanera-sky">
    <div class="row">
            <div class="col-md p-1">
                <div class="d-flex p-2 justify-content-between"><strong>Informaci&oacute;n</strong><a class="text-white" href="/">Ver m&aacute;s &gt;</a></div>
                <hr class="p1">
                <ul class="nolist">
                    <li>
                        <a class="ico-pin" href="https://goo.gl/maps/ybXcCY8hPSs" target="_blank">
                            <img src="/themes/custom/cencosudshop/images/icons/own/pin-white.png" alt="">
                            <span>Avenida Andres Bello 2425</span>
                        </a>
                    </li>
                    <li>
                        <a class="ico-phone" href="tel:+56229169226">
                            <img src="/themes/custom/cencosudshop/images/icons/own/phone-white.png" alt="">
                            <span>+56229169226</span>
                        </a>
                    </li>
                    <li>
                        <a class="ico-mail">
                            <img src="/themes/custom/cencosudshop/images/icons/own/mail-white.png" alt="">
                            <span>ServclienteCC@cencosud.cl</span>
                        </a>
                    </li>
                    
                </ul>
            </div>
            <div class="col-md p-1">
                <div class="d-flex p-2 justify-content-between"><strong>Horarios</strong><a class="text-white" href="/">Ver m&aacute;s &gt;</a></div>
                <hr >
                <div class="p-2"><strong>¡Síguenos!</strong></div>
                <hr >
                <div class="p-2 d-flex justify-content-around">
                    <a href="/" class="ico-face">
                        <img src="/themes/custom/cencosudshop/images/icons/own/face-white.png" alt="" style="width: 2.5rem;">
                    </a>
                    <a href="/" class="ico-twitt">
                        <img src="/themes/custom/cencosudshop/images/icons/own/twitt-white.png" alt="" style="width: 2.5rem;">
                    </a>
                    <a href="/" class="ico-insta">
                        <img src="/themes/custom/cencosudshop/images/icons/own/insta-white.png" alt="" style="width: 2.5rem;">
                    </a>
                </div>
            </div>
            <div class="col-md p-1">
                <div class="d-flex p-2 justify-content-between"><strong>Enlaces</strong><a class="text-white" href="/">Ver m&aacute;s &gt;</a></div>
                <hr >
                <ul class="nolist">
                    <li><a href="/">Acceso locatarios</a></li>
                    <li><a href="/">Conoce nuestros mall</a></li>
                    <li><a href="/">Cencosud</a></li>
                </ul>
            </div>
        </div>
</footer>