<div class="container">
      <div class="row justify-content-md-center">
            <div class="col-md-6 p-3 mb-3"  style="background:#cdf1e2cc;"> 
               <p><h5 class="text-center">La tienda <strong>{{ node.title.value }} </strong> se ha creado con èxito</h5></p>
            </div>
      </div>
</div>
