<style>
.view-restaurantes-dd-ccenter-niveles h3{ 
    margin: 2% 0%;
    background: #e2e2e2;
    width: 3%;
    padding: 0.4%;
    text-align: center;
    color: #495057;
}
.borde{
    padding:1%;
    border-bottom:1px solid #cccccc6b;
}
</style>

<div class="row justify-content-center">
    <div class="col-11 borde">
      {{ fields.title_1.content }}
    </div>
</div>