<div id="page-wrapper">
    {% include directory ~ '/templates/partials/header.html.twig' %}
    {{ page.highlighted }}
    <div id="s-content" class="container-fluid p-relativeToFooter">
      {# Seccion Para hacer#}
      <div class="row justify-content-md-center mb-4">
          <div class="col">
            <h3>ACTIVIDADES</h3>
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
              {#{ drupal_view('panoramas_front_dd', 'block_1', 421) }#}
              {{ drupal_view('promociones_front_dd', 'block_1', 421) }}
            </div>
          </div>
      </div>
      <div class="row justify-content-md-center mb-4">
          <div class="col">
            <h3>PROMOCIONES</h3>
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                {{ drupal_view('promociones_front_dd', 'page_1', 421) }}
            </div>
          </div>
      </div>
    </div>
  </div>
  