<style>
.messages--status{
    color: #325e1c;
    background-color: #f3faef;
    border-color: #c9e1bd #c9e1bd #c9e1bd transparent;
    background-image: url(../../../../misc/icons/73b355/check.svg);
    box-shadow: -8px 0 0 #77b259;
}
</style>

<div class="col-md-4 messages messages--status p-3">
    El contenido {{ node.title.value }} se ha creado con èxito
</div>
