<div class="col-md-4">
    <div class="imagen-promocion">{{ fields.field_imagen_promocion.content }}</div>
    <p>{{ fields.title.content }}</p>
</div>

{% if fields.field_vigencia_promocion.content %}
    <div class="col-md-12">
        {{ fields.field_vigencia_promocion.content }}
    </div>
{% endif %}