<div class="col-md-4">
        <div class="imagen-promocion">{{ fields.field_imagen_panorama.content }}</div>
        <h5><strong>{{ fields.title.content }}</strong></h5>
        
        {% if fields.field_vigencia_panorama.content %}
            <p>Desde {{ fields.field_vigencia_panorama.content }}</p>
        {% endif %}
    </div>