<div class="content">
    <div class="row">
        <div class="col-md-12" style="height:auto; float:left; margin-bottom: 5%; margin-top:5%;">
            <div class="imagen-promocion">{{ fields.field_imagen_panorama.content }}</div>
            <h5>{{ fields.title.content }}</h5>
            DESDE {{ fields.field_vigencia_panorama.content }}
        </div>
   </div>
</div>