<div class="col-md-4">
    <div class="imagen-promocion">{{ fields.field_imagen_promocion.content }}</div>
    <h5><strong>{{ fields.title.content }}</strong> </h5>
    
    {% if fields.field_vigencia_promocion.content %}
        <p>Desde {{ fields.field_vigencia_promocion.content }}</p>
    {% endif %}
</div>