<div class="col-md-4">
    <div class="logo-lista-tienda">
        {{ fields.field_logo_tienda.content }}
    </div>
    <strong>{{ fields.title_1.content }}</strong>
    Nivel: {{ fields.field_nivel_tmall.content }}
    {{ fields.link_flag.content }}
</div>