<div class="col-md-6" style="margin-bottom: 1rem;">
    <div class="imagen-promocion">
        {{ fields.field_imagen_promocion.content }}
    </div>
    <h4><strong>{{ fields.title.content }}</strong></h4>
    <p>DESDE {{ fields.field_vigencia_promocion.content }}</p>
</div>