<div class="col-md-4">
    <div class="imagen-promocion">{{ fields.field_imagen_promocion.content }}</div>
    <p><strong>{{ fields.title.content }}</strong></p>
    
    {% if fields.field_vigencia_promocion.content %}
        <p>{{ fields.field_vigencia_promocion.content }}</p>
    {% endif %}
</div>
