<style>
.view-restaurantes-dd-ccenter-categorias h3{ 
     padding: 0.4%;
    color: #495057;
    margin-top: 3%;
}
.borde{
    padding:1%;
    border-bottom:1px solid #cccccc6b;
}
</style>

<div class="row justify-content-center">
    <div class="col-11 borde">
      {{ fields.title_1.content }}
    </div>
</div>