{% include directory ~ '/templates/partials/header.html.twig' %}
<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-6">
            <p> 
                Accede a Beneficios Exclusivos
            </p>  
             <p> 
                Registrate y podrás recibir promociones exclusivas de tus tiendas favoritas y saber actividades
                de tu interés que están sucediendo en Costanera Center
            </p>         
        </div>
        <div class="col-6 login-user">
            {{ page.content }}
        </div>
    </div>
</div>